---

- hosts: all
  su: yes
  su_user: root
  roles:
    - common
  vars:
    admin_email: user@domain.com
    tls_directory: /home/user/sec_comms_admin/tls
    fqdn: sec-comms.domain.com
    monitored_interface: eth0
    server_addresses:
      - 104.28.4.42
      - 104.28.5.42
      - 2a01:dead:beef:f00::0/64
    in_out_monitor_only: true
    capture_traffic: true
    backup_security_directory: /home/user/sec_comms_admin/backup_security
    backup_pgp_key_id: 0x1234567890ABCDEF
    backup_pgp_passphrase: StrongPassPhrase
    backup_remote_host: backuphost.domain.com
    backup_remote_login: backup-user
    backup_remote_dir: /home/backup-user
