ld_env=LD_LIBRARY_PATH
passwd_cindex=2
passwd_uindex=0
find_pid_command=ps auwwwx | grep NAME | grep -v grep | awk '{ print $2 }'
path=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin
passwd_pindex=1
passwd_mindex=4
passwd_file=/etc/shadow
tempdelete_days=7
by_view=0
os_type=debian-linux
os_version=7
real_os_type=Debian Linux
real_os_version=7
lang=en.UTF-8
userconfig=.usermin
overlang=ulang
nofeedbackcc=2
nofeedbackconf=1
referers_none=1
theme=gray-theme
product=usermin
webprefix=/useradmin
webprefixnoredir=1
referers={{server_name}}.{{domain_name}}
