#!/bin/bash

/sbin/ethtool -K {{ monitored_interface }} tso off
/sbin/ethtool -K {{ monitored_interface }} gro off
/sbin/ethtool -K {{ monitored_interface }} lro off
/sbin/ethtool -K {{ monitored_interface }} gso off
/sbin/ethtool -K {{ monitored_interface }} rx off
/sbin/ethtool -K {{ monitored_interface }} tx off
/sbin/ethtool -K {{ monitored_interface }} sg off
/sbin/ethtool -K {{ monitored_interface }} rxvlan off
/sbin/ethtool -K {{ monitored_interface }} txvlan off
