server {
	listen	80 default;
	listen	[::]:80	default ipv6only=on;
	server_name {{ server_name }}.{{ domain_name }};

	expires -1;

	root /var/www/{{ server_name }}.{{ domain_name }};

	location ~ \.php$ {
		try_files	$uri =404;
		fastcgi_pass	unix:/var/run/php5-fpm.sock;
		fastcgi_index	index.php;
		fastcgi_param	SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include		/etc/nginx/fastcgi_params;
	}
}

server {
	listen   443 ssl default;
	listen	[::]:443 ssl default ipv6only=on;
	server_name {{ server_name }}.{{ domain_name }};

	expires -1;

	root /var/www/{{ server_name }}.{{ domain_name }};

	location ~ \.php$ {
		try_files	$uri =404;
		fastcgi_pass	unix:/var/run/php5-fpm.sock;
		fastcgi_index	index.php;
		fastcgi_param	SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include		/etc/nginx/fastcgi_params;
	}
}
