server {
	listen	80;
	listen	[::]:80;
	listen	443 ssl;
	listen	[::]:443 ssl;

	server_name {{ server_name }}.{{ domain_name }};

	expires -1;

	root /var/www/{{ server_name }}.{{ domain_name }};


	location /webmail {
		alias	/var/lib/roundcube;
		index	index.php;
		try_files $uri $uri/ index.php;

		location ~ \.php(/|$) {
			fastcgi_split_path_info ^(.+?\.php)(/.*)$;
			fastcgi_pass	unix:/var/run/php5-fpm.sock;
			fastcgi_index	index.php;
			fastcgi_param	SCRIPT_FILENAME $request_filename;
			include		/etc/nginx/fastcgi_params;
		}
	}

	location /webmail/program/js/tiny_mce {
		alias	/usr/share/tinymce/www;
	}

	location ~ ^(/webmail/config|/webmail/temp|/webmail/logs) {
		deny all;
	}
}
