<LDAP>
URL	ldap://localhost
Timeout	15
</LDAP>

<Authorization>
{% set base_dn = 'dc=' + domain_name|split('.')|join(',dc=') %}
{% if auth_use_samba %}
BaseDN  "ou=Users,ou=samba,{{ base_dn }}"
SearchFilter	(&(objectClass=sambaSamAccount)(uid=%u))
{% else %}
BaseDN	"ou=mail,{{ base_dn }}"
SearchFilter	(&(objectClass=mailAccount)(mail=%u))
{% endif %}
RequireGroup    false
</Authorization>
