port 1194
proto udp
dev tunCaislean

ca /etc/ssl/certs/{{ server_name }}.{{ domain_name }}_CA.pem
cert /etc/ssl/certs/{{ server_name }}.{{ domain_name }}.pem
key /etc/ssl/private/{{ server_name }}.{{ domain_name }}.key
dh /etc/ssl/dhparam.pem

tls-server
ns-cert-type client
remote-cert-tls client
crl-verify /etc/ssl/crls/{{ server_name }}.{{ domain_name }}.crl

server 10.1.0.0 255.255.255.0
push "redirect-gateway"
push "dhcp-option DNS  10.1.0.1"
ifconfig-pool-persist /var/run/openvpn.server.ipp

keepalive 10 60
comp-lzo

persist-key
persist-tun

status /var/log/openvpn/server.status
log-append /var/log/openvpn/server.log

script-security 2
up      /etc/openvpn/server-up.sh
down    /etc/openvpn/server-down.sh

verb 2
