[gpg]
sign = yes
{% set short_key_id = backup_pgp_key_id|reverse|truncate(8, true, '')|reverse %}
encryptkey = {{ short_key_id }}
signkey = {{ short_key_id }}
password = {{ backup_pgp_passphrase }}

[source]
include = /etc
include = /root
include = /home
include = /var/spool/mail
include = /var/lib/dpkg

exclude = /home/*/.gnupg

[dest]
incremental = yes
increments = 7
keep = 60

sshoptions = -o IdentityFile=/etc/backupninja/id_rsa.{{ backup_remote_ip }}.duplicity
destdir = {{ backup_remote_dir }}
desthost = {{ backup_remote_ip }}
destuser = {{ backup_remote_login }}
