[gpg]
sign = {{ backup_pgp_key_id }}
password = {{ backup_pgp_passphrase }}

[source]
include = /etc
include = /root
include = /home
include = /var/spool/mail
include = /var/lib/dpkg

exclude = /home/*/.gnupg

[dest]
incremental = yes
increments = 7
keep = 60

sshoptions = -o IdentityFile=/root/.ssh/id_rsa.{{ backup_remote_host }}.duplicity
destdir = {{ backup_remote_dir }}
desthost = {{ backup_remote_host }}
destuser = {{ backup_remote_login }}
