{% set base_dn = 'dc=' + domain_name|split('.')|join(',dc=') %}
SID="{{ samba_sid }}"
sambaDomain="{{ domain_name | truncate(15) | upper }}"
masterLDAP="localhost"
masterPort="389"
ldapTLS="0"
ldapSSL="0"
suffix="ou=samba,{{ base_dn }}"
usersdn="ou=Users,${suffix}"
groupsdn="ou=Groups,${suffix}"
computersdn="ou=Computers,${suffix}"
sambaUnixIdPooldn="sambaDomainName=${sambaDomain},${suffix}"
scope="sub"
password_hash="SSHA"

# Maybe use /bin/false as shell?
userLoginShell="/bin/bash"
userHome="/home/samba/%U"
userHomeDirectoryMode="700"
userGecos="System User"
defaultUserGid="513"
defaultComputerGid="515"
skeletonDir="/etc/skel"
shadowAccount="1"

userSmbHome=""
userProfile=""
userHomeDrive="P:"
userScript="logon.bat"
mailDomain="{{ domain_name }}"

with_smbpasswd="0"
smbpasswd="/usr/bin/smbpasswd"
with_slappasswd="0"
slappasswd="/usr/sbin/slappasswd"

