    add_header          Strict-Transport-Security max-age=63072000;
    ssl_certificate     /etc/letsencrypt/live/{{current_letsencrypt_domain}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{current_letsencrypt_domain}}/privkey.pem;
