    add_header          Strict-Transport-Security max-age=63072000;
    ssl_certificate     /etc/letsencrypt/live/{{ item }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item }}/privkey.pem;
