location /owncloud {
	alias	/var/www/owncloud;
	index	index.php;
	try_files $uri $uri/ index.php;
	client_max_body_size 2G;

	rewrite ^/owncloud/caldav(.*)$ /owncloud/remote.php/caldav$1 redirect;
	rewrite ^/owncloud/carddav(.*)$ /owncloud/remote.php/carddav$1 redirect;
	rewrite ^/owncloud/webdav(.*)$ /owncloud/remote.php/webdav$1 redirect;
 
	rewrite ^(/owncloud/core/doc[^\/]+/)$ $1/index.html;
 
       	# The following rules are only needed with webfinger
	rewrite ^/owncloud/.well-known/host-meta /owncloud/public.php?service=host-meta last;
	rewrite ^/owncloud/.well-known/host-meta.json /owncloud/public.php?service=host-meta-json last;
	rewrite ^/owncloud/.well-known/carddav /owncloud/remote.php/carddav/ redirect;
	rewrite ^/owncloud/.well-known/caldav /owncloud/remote.php/caldav/ redirect;

	location ~ ^/owncloud/(?:build|tests|config|lib|3rdparty|templates|data)/ {
		deny all;
	}

	location ~ ^/owncloud/(?:\.|autotest|occ|issue|indie|db_|console) {
		deny all;
	}

	location ~ ^/owncloud(.+?\.php)(/.*)?$ {
		try_files $1 =404;
		fastcgi_pass	unix:/var/run/php5-fpm/owncloud.sock;
		fastcgi_index	index.php;
		include		/etc/nginx/fastcgi_params;
		fastcgi_param 	SCRIPT_FILENAME $document_root$1;
		fastcgi_param	PATH_INFO $2;
		fastcgi_param	SCRIPT_NAME /owncloud$1;
		fastcgi_param	HTTPS on;
		fastcgi_intercept_errors	on;
	}

       	location ~* \.(jpg|jpeg|gif|bmp|ico|png|css|js|swf)$ {
		expires 30d;
		access_log off;
       	}
}
