<html>
  <head>
    <title>{{ item.name }}</title>
    <style>
      .container {
        font-family: sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    </style>
  </head>
  <body>
  <div class="container">
    <h1>Caislean left this space blank intentionally</h1>
    <p>This is a placeholder index page for {{ item.name }}.</p>
    <p>If you are the site administrator you should replace this page with your site's content.</p>
  </div>
  </body>
</html>
