server {
{% for curport in item.cleartext_ports|default(nginx_cleartext_ports) %}
	listen	{{curport}};
	listen	[::]:{{curport}};
{% endfor %}
{% for curport in item.tls_ports|default(nginx_tls_ports) %}
	listen	{{curport}} ssl;
	listen	[::]:{{curport}} ssl;
{% endfor %}

	server_name {{ item.name }} {{item.aliases|default([])|join(' ')}};

	expires -1;

	root /var/www/{{ item.name }};

	include /etc/nginx/includes/{{ item.name }}/*;
}
