#!/bin/bash

{% for ifcap in monitored_interfaces %}
/sbin/ethtool -K {{ ifcap }} tso off
/sbin/ethtool -K {{ ifcap }} gro off
/sbin/ethtool -K {{ ifcap }} lro off
/sbin/ethtool -K {{ ifcap }} gso off
/sbin/ethtool -K {{ ifcap }} rx off
/sbin/ethtool -K {{ ifcap }} tx off
/sbin/ethtool -K {{ ifcap }} sg off
/sbin/ethtool -K {{ ifcap }} rxvlan off
/sbin/ethtool -K {{ ifcap }} txvlan off

{% endfor %}
