location /webmail {
	alias	/var/lib/roundcube;
	index	index.php;
	try_files $uri $uri/ index.php;

	location ~ ^/webmail(.+?\.php)(/.*)?$ {
		try_files $1 =404;
		fastcgi_pass	unix:/var/run/php5-fpm/roundcube.sock;
		fastcgi_index	index.php;
		include		/etc/nginx/fastcgi_params;
		fastcgi_param 	SCRIPT_FILENAME $document_root$1;
		fastcgi_param	PATH_INFO $2;
		fastcgi_param	SCRIPT_NAME /webmail$1;
		fastcgi_param	HTTPS on;
		fastcgi_intercept_errors	on;
	}
}

location /webmail/program/js/tiny_mce {
	alias	/usr/share/tinymce/www;
}

location ~ ^(/webmail/config|/webmail/temp|/webmail/logs) {
	deny all;
}

