dn: cn=admin,{{base_dn}}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: admin
description: LDAP administrator for {{current_ldap_domain}}
userPassword: {{hashed_ldap_password}}

