testconnect = no
options = --ssh-backend pexpect

[gpg]
sign = yes
{% set short_key_id = backup_pgp_key_id|reverse|truncate(8, true, '')|reverse %}
encryptkey = {{ short_key_id }}
signkey = {{ short_key_id }}
password = {{ backup_pgp_passphrase }}

[source]
include = /etc
include = /root
include = /home
include = /var/spool/mail
include = /var/lib/dpkg
include = /var/virtualmail

exclude = /home/*/.gnupg

[dest]
incremental = yes
increments = 7
keep = 60

sshoptions = -oIdentityFile=/etc/backupninja/id_rsa.{{ backup_remote_ip }}.duplicity -oUserKnownHostsFile=/etc/backupninja/known_hosts.{{ backup_remote_ip}}.duplicity
{% if backup_remote_ip|ipv6 %}
{% set sftp_remote = '[' + backup_remote_ip + ']' %}
{% else %}
{% set sftp_remote = backup_remote_ip %}
{% endif %}
desturl = sftp://{{ backup_remote_login }}@{{ sftp_remote }}:{{ backup_remote_ssh_port }}/{{ backup_remote_dir }}
