- name: Add Owncloud PGP signing key (wheezy)
  apt_key: url=https://download.owncloud.org/download/repositories/stable/Debian_7.0/Release.key state=present
  when: ansible_distribution_release == "wheezy"
  tags:
    - owncloud

- name: Add Owncloud PGP signing key (jessie)
  apt_key: url=https://download.owncloud.org/download/repositories/stable/Debian_8.0/Release.key state=present
  when: ansible_distribution_release == "jessie"
  tags:
    - owncloud

- name: Add Owncloud APT repository (wheezy)
  apt_repository: repo='deb http://download.owncloud.org/download/repositories/stable/Debian_7.0/ /' state=present update_cache=yes
  when: ansible_distribution_release == "wheezy"
  tags:
    - owncloud

- name: Add Owncloud APT repository (jessie)
  apt_repository: repo='deb http://download.owncloud.org/download/repositories/stable/Debian_8.0/ /' state=present update_cache=yes
  when: ansible_distribution_release == "jessie"
  tags:
    - owncloud

- name: Install Owncloud dependencies
  apt: pkg={{item}} state=installed default_release={{ansible_distribution_release}}-backports
  with_items:
    - python-configparser
    - php5-ldap
    - php-apc
  notify:
    - restart php5-fpm
  tags:
    - owncloud

- name: Install Owncloud (wheezy)
  apt: pkg=owncloud-files state=installed default_release=wheezy-backports
  when: ansible_distribution_release == "wheezy"
  tags:
    - owncloud

- name: Install Owncloud (jessie)
  apt: pkg=owncloud state=installed default_release=jessie-backports
  when: ansible_distribution_release == "jessie"
  tags:
    - owncloud

- name: PHP modules INI files for Owncloud
  copy: src=etc/php5/mods-available/{{item}} dest=/etc/php5/mods-available/{{item}} owner=root group=root mode=0644
  when: ansible_distribution_release == "jessie"
  with_items:
    - gd.ini
  notify:
    - restart php5-fpm
  tags:
    - owncloud

- name: Detect if necessary PHP modules for Owncloud are enabled
  command: php5query -s fpm -m {{item}}
  when: ansible_distribution_release == "jessie"
  with_items:
    - gd
  ignore_errors: true
  register: phpquery_oc
  tags:
    - owncloud
  
- name: Enable necessary PHP modules for Owncloud
  command: php5enmod {{item.item}}
  when:
    - ansible_distribution_release == "jessie"
    - "{{item|failed}}"
  with_items: "{{phpquery_oc.results}}"
  notify:
    - restart php5-fpm
  tags:
    - owncloud

- name: Create owncloud group
  group: name=owncloud state=present
  tags:
    - owncloud

- name: Create owncloud user
  user: name=owncloud group=owncloud state=present shell="/bin/false" home=/var/www/owncloud createhome=no
  tags:
    - owncloud

- name: Set correct ownership in Owncloud directory
  file: path=/var/www/owncloud/{{item.dirname}} group=owncloud owner=owncloud recurse={{item.rec}}
  with_items:
    - { dirname: apps, rec: no }
    - { dirname: config, rec: yes }
    - { dirname: data, rec: yes }
    - { dirname: assets, rec: yes }
    - { dirname: themes, rec: yes }
  tags:
    - owncloud

- name: Install nginx configuration part for owncloud
  template: src=nginx-owncloud.inc.j2 dest=/etc/nginx/includes/{{ server_name }}.{{ domain_name}}/owncloud owner=root group=root mode=0644
  notify:
    - restart nginx
  tags:
    - owncloud

- name: Install php-fpm configuration part for owncloud
  copy: src=etc/php5/fpm/pool.d/owncloud.conf dest=/etc/php5/fpm/pool.d/owncloud.conf owner=root group=root mode=0644
  notify:
    - restart php5-fpm
  tags:
    - owncloud

- name: Create PHP session directory for owncloud
  file: path=/var/lib/phpsession/owncloud state=directory owner=owncloud group=owncloud mode=0700 recurse=no
  tags:
    - owncloud
